<%= title 'Latest Announcements' %>
<hr>

<div class="row">
  <% @announcements.each do | announcement | %>
    <div class="col-12 col-md-6 col-lg-4 mb-3">
      <div class="card border-info">
        <div class="card-body">
          <p class="card-text"><%= announcement.body %></p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <small>
            By
            <% if announcement.user_id == current_user.id %>
              yourself
            <% else %>
              <%= announcement.user.email %>
            <% end %>
            <br>
            At <%= date_humanize announcement.updated_at %>
          </small>
          <small>
            <% if can? :manage, announcement %>
              <%= link_to "Edit", edit_announcement_path(announcement) %>
              <%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>
