<!DOCTYPE html>
<html>
<head>
  <title>Announcer</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <body>
    <%= render 'layouts/menu' %>

    <div class="container">
      <div id="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>

      <%= yield %>
    </div>
  </body>
  </html>
